<!-- WIDGET CONTENTS COPYRIGHT SURFLINE.COM 2010 -->
<!-- WIDGET VERSION 2.0 MARCH 2010 | NORTH ORANGE COUNTY -->
<div class="slwd_bth"><script type="text/javascript" src="http://www.surfline.com/widgets2/widget_output_forecast.cfm?id=2143&layout=h&wid=53337&ftr=1"></script><div class="slwd_bx"><a href="http://www.surfline.com" class="slwd_lk">Surfline</a> <a href="http://www.surfline.com/surf-forecasts" class="slwd_lk">Surf Forecasts</a></div><div class="slwd_tl"></div><div class="slwd_tr"></div></div>
<!-- WIDGET CONTENTS COPYRIGHT SURFLINE.COM 2010 -->