.modal-dialog
	.modal-content
		= form_for @task, url: {controller: 'tasks', action: 'update'} do |f|
			.modal-header
				%h4.modal-title Task Details
			
			.modal-body
			
				- @f = f
				= render "task_fields"
				
			.modal-footer
				%input.btn.btn-primary{'type' => 'submit', 'value' => 'Update'}
				%button.btn.btn-default{'data-dismiss' => 'modal'} Cancel
				%button.delete_task_button.btn.btn-danger{'type' => 'button', 'data-task-id' => @task.id} Destroy