
.modal-dialog
	.modal-content
		= form_for @task, url: {action: 'update'} do |f|
			.modal-header
				%h4.modal-title Task Details
			
			.modal-body
			
				- @f = f
				= render "task_fields"
				.form_group
					= @f.label :completed_by, "Completed By", class: 'field_header'
					= @f.text_field :completed_by, {class: 'initials_field', size: 2, maxlength: 2}
				
			.modal-footer
				%input.btn.btn-primary{'type' => 'submit', 'value' => 'Update'}
				%button.btn.btn-default{'data-dismiss' => 'modal'} Cancel
				%button.delete_task_button.btn.btn-danger{'type' => 'button', 'data-task-id' => @task.id} Destroy