
.modal-dialog
	.modal-content
		= form_for @task, url: {action: 'update'} do |f|
			.modal-header
				%h4.modal-title Edit Task
			
			.modal-body
				- @f = f
				= render "task_fields"
				.form_group
					= f.label :completed_by, "Completed By"
					= f.text_field :completed_by, {placeholder: 'Done?', class: 'initials_field', size: 2, maxlength: 2}
					
				
			.modal-footer
				%input.btn.btn-primary{'type' => 'submit'}
				%button.btn.btn-default{'data-dismiss' => 'modal'} Cancel