%h2 FAQ
.text_content
	%h3 Q: What is the purpose of the To Do page?
	%p A: The To Do page helps us decide what to work on at a given moment by automatically sorting all unfinished tasks and orders by approximate priority.  This reduces the need for a person to make these decisions and helps us use our time more wisely.  To Do prioritizes tasks based on 2 principles: tasks that are due sooner have priority and tasks that are older have priority.  Tasks are also broadly grouped as one of 3 levels of priority: red circle, orange circle, and green circle.  Each group of tasks should be worked on as much as possible before moving on to the next group. This is also a visual indicator of how urgent the current workload is and can answer questions such as, 'Can I take a vacation day tomorrow?'.
