<br/>
<br/>
<div id='widget_container'>
<div class='widget'>
<!-- WIDGET CONTENTS COPYRIGHT SURFLINE.COM 2010 -->
<!-- WIDGET VERSION 2.0 MARCH 2010 | SOUTH ORANGE COUNTY -->
<div class="slwd_bth"><script type="text/javascript" src="http://www.surfline.com/widgets2/widget_output_forecast.cfm?id=2950&layout=h&wid=53762&ftr=1"></script><div class="slwd_bx"><a href="http://www.surfline.com" class="slwd_lk">Surfline</a> <a href="http://www.surfline.com/surf-forecasts" class="slwd_lk">Surf Forecasts</a></div><div class="slwd_tl"></div><div class="slwd_tr"></div></div>
<!-- WIDGET CONTENTS COPYRIGHT SURFLINE.COM 2010 -->
</div>

<div class='widget'>
<iframe src="http://www.weatherfor.us/load.php?location=Big+Bear+Lake,+CA" scrolling="no" frameborder="0" allowtransparency="true" style="background: transparent; width: 720px; height: 250px; overflow: hidden;"></iframe>
</div>

<div class='widget'>
<iframe src="http://www.weatherfor.us/load.php?location=Mammoth+Lakes,+CA" scrolling="no" frameborder="0" allowtransparency="true" style="background: transparent; width: 720px; height: 250px; overflow: hidden;"></iframe>
</div>
</div>