/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */
body {
	font-family: "Verdana" serif;
}

#page_title {

	font-weight: bold;
	font-size: 140%;
	display: inline-block;
	width: 110px;
}

#top_menu {
	font-size: 120%;
	padding: 10px;
	background: rgba(242,246,248,1);
	background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 48%, rgba(181,198,208,1) 78%, rgba(149,173,187,1) 99%, rgba(224,239,249,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(48%, rgba(216,225,231,1)), color-stop(78%, rgba(181,198,208,1)), color-stop(99%, rgba(149,173,187,1)), color-stop(100%, rgba(224,239,249,1)));
	background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 48%, rgba(181,198,208,1) 78%, rgba(149,173,187,1) 99%, rgba(224,239,249,1) 100%);
	background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 48%, rgba(181,198,208,1) 78%, rgba(149,173,187,1) 99%, rgba(224,239,249,1) 100%);
	background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 48%, rgba(181,198,208,1) 78%, rgba(149,173,187,1) 99%, rgba(224,239,249,1) 100%);
	background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 48%, rgba(181,198,208,1) 78%, rgba(149,173,187,1) 99%, rgba(224,239,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );
}

.radio_label {
	display: inline;
}

.initials_field {
	width: inherit;
	text-transform: uppercase;
}

td, th {
	text-align: left;
}

th {
	text-transform: uppercase;
	font-size: 80%;
	color: #999999;
	font-weight: bold;
}

table {
	margin-left: 50px;
	margin-right: 100px;
}

caption{
	text-align: left;
	color: #999999;
	font-weight: bold;
}